@font-face {
  font-family: 'RAYDIS';
  src: url('./fonts/RAYDIS.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/OTF/Involve-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/OTF/Involve-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/OTF/Involve-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/OTF/Involve-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
