.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.app {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100vh;
}

.sercle {
  flex-shrink: 0;
  width: 40px;
  aspect-ratio: 1;
  background: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  svg {
    height: 50%;
    width: 50%;
    path {
      height: 50%;
      width: 50%;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
}

.input {
  width: 100%;
  input {
    background: var(--main-color);
  }
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
  padding-top: 56px;
  padding-bottom: 93px;
  &::-webkit-scrollbar {
    width: 0; /* Устанавливаем ширину полосы прокрутки в 0 */
    height: 0; /* Устанавливаем высоту полосы прокрутки в 0 */
  }

  /* Убираем полосу прокрутки в Firefox */
  scrollbar-width: none; /* Устанавливаем ширину полосы прокрутки в none */

  /* Убираем полосу прокрутки в IE и Edge */
  -ms-overflow-style: none; /* Устанавливаем стиль полосы прокрутки в none */

  &::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 10px;
  &__container {
    background: var(--main-color);
    padding: 15px 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    width: 70px;
    height: 50px;
    &_active {
      .footer__sercle {
        background: #c5c5c5;
      }
    }
  }
  &__sercle {
    flex-shrink: 0;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: #e8e8e8;
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    margin-top: 5px;
    text-align: center;
    color: var(--dark-text-color);
  }
}

.active {
  .sercle {
    background: #000;
    img {
      filter: invert(1);
    }
  }
}

@media (max-width: 450px) {
  .app {
    height: 100vh;
  }
}

@media (max-height: 842px) {
  .app {
    height: 100vh;
  }
}
