.preview {
  & .box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.sub_title {
  font-family: 'RAYDIS';
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  margin-top: 8px;
  color: var(--dark-text-color);
}

.button {
  margin-top: 172px;
  width: 310px;
}
