.preview {
  & .box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.button {
  width: 310px;
  &_2 {
    background: #fff;
    color: #000;
  }
}
