.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
  height: 100vh;
  padding: 20px 0px;
}

.wrapper {
  height: 600px;
  // flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.punkts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    cursor: pointer;
    height: 20px;
  }
  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 107%;
    text-align: center;
    color: rgba(16, 16, 16, 0.5);
  }
  &__step {
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    text-align: center;
    margin-top: 2px;
    color: rgba(16, 16, 16, 0.25);
  }
}

.padding {
  margin-top: 50px;
}

@media (max-width: 440px) {
  .wrapper {
    flex-grow: 1;
  }
}
