.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
  height: 100vh;
  padding: 20px 0px;
}

.wrapper {
  height: 600px;
  // flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.padding {
  padding: 20px;
}

.punkts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  height: 100%;
}

@media (max-width: 440px) {
  .wrapper {
    flex-grow: 1;
  }
}
