.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: var(--light-text-color);

  width: 100%;
  padding: 20px 0;
  background: var(--dark-color);
  border-radius: 20px;
}
