.container {
  display: grid;
  grid-template-columns: 55px 1fr;
  gap: 10px;
  transition: all 0.3s;
}

.squar {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid rgba(16, 16, 16, 0.75);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.line {
  grid-template-columns: 1fr;
  transition: all 0.3s;
}

.button {
  height: 60px;
  transition: all 0.3s;
}
