.doc {
  margin-top: 60px;
  min-width: 335px;
  width: 100%;
  height: 680px; /* Используем относительные единицы измерения */
  max-height: 690px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.icon {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}

@media (max-height: 750px) {
  .doc {
    height: 85vh;
  }
}
// @media (max-height: 500px) {
//   .doc {
//     height: 80vh;
//   }
// }

// @media (max-height: 300px) {
//   .doc {
//     height: 95vh;
//   }
// }
