.container {
  width: 100vw;
  height: 100vh;
  background: #000000b7;

  position: fixed;
  bottom: 0;
  top: 0;
  top: 0; /* Измените значения по вашему усмотрению */
  left: 0; /* Измените значения по вашему усмотрению */
  border: 1px solid #ccc;
  z-index: 100;

  display: flex;
  justify-content: center;
  justify-content: space-between;

  overflow: hidden;
}
