.form {
  margin: 20px 0;
  animation: show 0.6s;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_first {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 109px;
      // height: 112px;
    }
  }
  &__button {
    margin-top: 40px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.not_active {
  span {
    background: #f0f0f0;
    border: none;
  }
  p {
    color: #eee;
  }
}

.calendar__wrapper {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  margin: 0 auto;
}

.phone {
  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: rgba(16, 16, 16, 0.25);
    margin-bottom: 5px;
  }
  &__container {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
  }
  &__sercle {
    aspect-ratio: 1;
    border-radius: 20px;
    background: #f5f5f5;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input__sercle {
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  border-radius: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  text-align: center;
  color: var(--dark-text-color);
}

.number {
  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}

.pasport__button {
  background: #f5f5f5;
  width: 100%;
  height: 115px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(16, 16, 16, 0.25);

  margin-top: 2px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input_full {
  & input {
    width: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.data_container {
  display: flex;
  flex-direction: column;

  position: relative;
}

.date_label {
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  color: rgba(16, 16, 16, 0.25);
  margin-bottom: 5px;
}

.date {
  position: relative;
  background: #f5f5f5;
  // background: #000;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  padding: 0 15px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 25px;
  transform: translateY(-50%);
  svg {
    transition: all 0.3s;
    transform: rotate(-90deg);
  }
}

.icon.rotate {
  svg {
    transition: all 0.3s;
    transform: rotate(90deg);
  }
}

.clouse_icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  margin-bottom: 10px;
}
